.body-container{
    display: grid;
    grid-template-columns: 45% 50%;
    background-color: #f2f7ff;
    height: 86vh;
    justify-items: center;
    align-items: center;
}

.body-text{
    height: 81vh;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5rem 0 auto;
}

.body-text-title{
    font-size: 4rem;
    line-height: 9.2rem;
}

.body-text h1{
    text-align: left;
}

.body-text-subtext{
    margin-top: 1.2rem;
    font-size: 1.8rem;
}

.body-image{
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.body-image img{
    width: 50rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.239);
}