<div *ngIf="estimationList">
    <div class="list-container">
        <div class="table-container headers-container">
            <th>ID</th>
            <th>Product</th>
            <th>Estimator</th>
            <th>Description</th>
            <th>Savings</th>
            <th>Status</th>
            <th>Actions</th>
        </div>
        <div class="table-container filters-container">
            <input type="text" placeholder=" Search...">
            <input type="text" placeholder=" Search Product">
            <input type="text" placeholder=" Search Estimator">
            <input type="text" placeholder=" Search Description">
            <input type="text" placeholder=" Search...">
            <input type="text" placeholder=" Search Status">
        </div>
        <div *ngFor="let estimation of estimationList" class="table-container row-container">
            <td>{{estimation.estimationId}}</td>
            <td class="group-td">
                <img src="{{estimation.productPhoto}}">
                {{estimation.productName}}
            </td>
            <td class="group-td">
                <img src="{{estimation.estimatorPhoto}}">
                {{estimation.estimatorName}}
            </td>
            <td>{{estimation.estimationDescription}}</td>
            <td>${{estimation.estimationSavings}}</td>
            <td class="estimation-status">Proposed</td>
            <td class="estimation-actions">
                <button (click)="acceptEstimation(estimation)">
                    <i class="fa-solid fa-check fa-2xl" style="color: #000000;"></i>
                </button>
                <button (click)="proposeEstimation(estimation)">
                    <i class="fa-solid fa-clock fa-2xl"></i>
                </button>
                <button (click)="rejectEstimation(estimation)">
                    <i class="fa-solid fa-xmark fa-2xl"></i>
                </button>
            </td>
        </div>
        <div class="table-container table-footer"></div>
    </div>
</div>
