<div *ngIf="estimationList">
    <div class="list-container">
        <div *ngFor="let estimation of estimationList" class="table-container row-container">
            <td>{{estimation.estimationId}}</td>
            <td class="group-td">
                <img src="{{estimation.productPhoto}}">
                {{estimation.productName}}
            </td>
            <td class="group-td">
                <img src="{{estimation.estimatorPhoto}}">
                {{estimation.estimatorName}}
            </td>
            <td>{{estimation.estimationDescription}}</td>
            <td>${{estimation.estimationSavings}}</td>
            <td class="estimation-status" [ngClass]="getStatusColor(estimation.estimationStatus!)">{{estimation.estimationStatus}}</td>
            <td class="estimation-actions">
                <button (click)="setEstimationStatus(estimation, 'accepted')" [ngStyle]="{'background-color': estimation.estimationStatus == 'accepted' ? 'rgba(144, 238, 144)' : 'rgba(144, 238, 144, 0.100)'}">
                    <i class="fa-solid fa-check fa-2xl"></i>
                </button>
                <button (click)="setEstimationStatus(estimation, 'proposed')" [ngStyle]="{'background-color': estimation.estimationStatus == 'proposed' ? 'rgba(255, 213, 135)' : 'rgba(255, 213, 135, 0.100)'}">
                    <i class="fa-regular fa-clock fa-2xl"></i>
                </button>
                <button (click)="setEstimationStatus(estimation, 'rejected')" [ngStyle]="{'background-color': estimation.estimationStatus == 'rejected' ? 'rgba(240, 128, 128)' : 'rgba(240, 128, 128, 0.100)'}">
                    <i class="fa-solid fa-xmark fa-2xl"></i>
                </button>
            </td>
        </div>
        <div class="table-container table-footer"></div>
    </div>
</div>
