<div class="header">
    <div class="header-container">
        <a href="home"><img class="header-logo" 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH22iBrUgcopazUkxya-qX_kGmmqgclrJhxQ&usqp=CAU">
        </a>
        <a class="nav-tab" href="overview">Overview</a>
        <a class="nav-tab" href="estimations">Estimations</a>
        <a class="nav-tab" href="products">Products</a>
        <a class="new-estimate-button" href="google.com">New Estimate</a>
    </div>
</div>

