.body-container{
    background-color: #f2f7ff;
    height: 86vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 85%;
    padding: 0 20px;
    margin-left: 50px;
    font-size: 32px;

    div{
        width: 98%;
        height: 25%;
        border: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }
}

.savingsText{
    color: rgb(5, 74, 30);
}

h3{
    color:rgb(100, 100, 100);
}

.graph-container{
    height: 85%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.pie {
    width: 600px;
    height: 600px;
    background-image: conic-gradient(lightgreen 0%, lightgreen 64%, coral 64%, coral 81%, yellow 81%, yellow 100%);
    border-radius: 50%;
    border: 1px solid black;
}

.graph-legend{
    width: 28%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    .square{
        display: flex;
        height: 38px;
        width: 38px;
        border: 1px solid black;
        margin-right: 20px;
    }

    .green{
        background-color: lightgreen;
    }

    .red{
        background-color: lightcoral;
    }

    .yellow{
        background-color: yellow;
    }

    p{
        font-size: 32px;
    }
}