.body-container{
    background-color: #f2f7ff;
    height: 86vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graphs-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 85%;
    padding: 0 20px;
    margin-left: 50px;
    font-size: 32px;

    div{
        width: 98%;
        height: 25%;
        border: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }
}

.savingsText{
    color: rgb(5, 74, 30);
}

h3{
    color:rgb(100, 100, 100);
}